.col-md-8
  %h1 Reported issues
  
  = render @reported_issues
  
  = link_to 'Report an issue', new_issue_path, :class => 'btn btn-primary'

.col-md-4  
  %h1 Issues you can see
  = render @collaborating_issues
    